body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-brand img {
    margin-right: 10px
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.navbar-links a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

.navbar-links li{
    margin: 0;
}

.navbar-links .nav-btn:hover{
    background-color: #fff;
    color: black;
    border-radius: 8px;
}

.navbar-nav{
    justify-content: center;
    text-decoration: none;
    padding-left: 800px;
}



/* Index */
.donar{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.donar:hover{
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
}

.inicio{
    text-align: center;
}

.iniciop{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.benefits{
    text-align: center;
}

.benefit{
    text-align: center;
}

/* Footer */
.footer {
    background-color: #34495e;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer a{
    color: white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
    font-size: 0.8em;
}